In [1]:
# IMPORTS THE MODULE FOR DATA MANIPULATION
import pandas as pd
 
# DETERMINE A LIST WITH THE PREFIX NAME OF THE FILES NEEDED TO BE CONVERTED TO CSV

list_of_names = ['Address','Customer', 'CustomerAddress','Product','ProductCategory','ProductDescription','ProductModel','ProductModelProductDescription','SalesOrderDetail','SalesOrderHeader']
 
# CREATE AN EMPTY LIST THAT WILL STORE THE OUTPUT DATAFRAMES FROM THE READ_PARQUET METHOD

dataframes_list_temp = []
 
# APPEND THE DATAFRAMES INTO DATAFRAMES_LIST_TEMP

for i in range(len(list_of_names)):
    temp_df = pd.read_parquet("./Input_Data/"+list_of_names[i]+".parquet")
    dataframes_list_temp.append(temp_df)

# CONVERT EACH ELEMENT OF THE LIST OF DATAFRAMES TO A CSV TO PERMIT A CORRECT DEFINITION OF TABLES AND PRIMARY KEYS

for i in range(len(dataframes_list_temp)):
    dataframes_list_temp[i].to_csv("./Input_Data/"+list_of_names[i]+".csv", index=False)

In [4]:
# DDLS AND POSGRESQL CONNECTION WERE CREATED MANUALLY. FOLDER DDLS HAS THE QUERIES TO TABLE CREATION.

# DEFINE A LIST WITH THE FILE NAME PREFIX FOR EACH DDL TEXT FILE

ddl_table_names = ['ddl_address','ddl_customer', 'ddl_customeraddress', 'ddl_product', 'ddl_productcategory', 'ddl_productdescription', 'ddl_productmodelproductdescription', 'ddl_salesorderdetail', 'ddl_salesorderheader'] 

# DEFINES AN EMPTY LIST WHERE THE QUERY STATEMENT WILL BE STORED

ddl_list = []

# ITERATE OVER EACH DDL_TABLE_NAME TO CONVERT TEXT FILE TO AN TEXT ELEMENT FOR DDL_LIST

for i in range(len(ddl_table_names)):
    f = open("DDLs/"+ddl_table_names[i]+".txt", 'r')
    ddl_list.append(str(f.read()))

In [14]:
# IMPORT SQLALCHEMY AND MAKE THE CONECTION TO THE POSGRETSQL DATABASE, CREATED MANUALLY.

from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:m43379Bhg45087Ca@localhost:5432/postgres')

con = engine.connect()

# EXECUTES EACH ELEMENT OF DD_LIST, WHICH IS A QUERY FOR TABLE CREATION

for i in range(len(ddl_list)):
    try:           
        query = ddl_list[i]
        rs = con.execute(query) 
    except:
        print("The table " + list_of_names[i] + " already exists")

The table Customer already exists
The table CustomerAddress already exists
The table Product already exists
The table ProductCategory already exists
The table ProductDescription already exists
The table ProductModel already exists
The table ProductModelProductDescription already exists
The table SalesOrderDetail already exists

In [15]:
# DATA INSERTION

# DEFINE AN EMPTY LIST WHERE TABLE NAMES WOULD BE STORED

database_table_names=[]

# CONVERTS TO LOWER CASE EACH ELEMENT OF THE LIST_OF_NAMES, THESE WOULD BE THE TABLE NAMES OF THE DATABASE

for item in list_of_names:
    database_table_names.append(item.lower())

# MAKE DATABASE CONECTION

engine = create_engine('postgresql://postgres:m43379Bhg45087Ca@localhost:5432/postgres')

# ITERATES OVER EACH DATAFRAME IN DATAFRAMES_LIST_TEMP AND EXPORTS THE DATA TO ITS TABLE. TO_SQL ARGUMENTS PERMITS THE DATA REPLACEMENT. COULD BE CHANGED TO APPEND FOR DATA MERGE OR FAIL IF DATA ALREADY EXISTS

for i in range(len(dataframes_list_temp)):
    dataframes_list_temp[i].to_sql(database_table_names[i], con=engine, if_exists='replace', index=False)